<!doctype html>
<html lang="en">

<head>
  {{> head title="Cruditech"}}
</head>

<body class="bg-light">

  <!-- MODALS -->
  {{> modals}}

  <!-- NAVBAR -->
  {{> navbar classList="bg-white border-bottom" container="container-fluid" button="primary"}}

  <!-- CONTENT -->
  <section class="pt-8 pt-md-11 pb-8 pb-md-14">
    <div class="container">
      <div class="row align-items-center">
        <div class="document-previewer-wrapper-a717db">
          <style>
            [data-custom-class='body'],
            [data-custom-class='body'] * {
              background: transparent !important;
            }

            [data-custom-class='title'],
            [data-custom-class='title'] * {
              
              font-size: 26px !important;
              color: #000000 !important;
            }

            [data-custom-class='subtitle'],
            [data-custom-class='subtitle'] * {
              
              color: #595959 !important;
              font-size: 14px !important;
            }

            [data-custom-class='heading_1'],
            [data-custom-class='heading_1'] * {
              
              font-size: 19px !important;
              color: #000000 !important;
            }

            [data-custom-class='heading_2'],
            [data-custom-class='heading_2'] * {
              
              font-size: 17px !important;
              color: #000000 !important;
            }

            [data-custom-class='body_text'],
            [data-custom-class='body_text'] * {
              color: #595959 !important;
              font-size: 14px !important;
              
            }

            [data-custom-class='link'],
            [data-custom-class='link'] * {
              color: #3030F1 !important;
              font-size: 14px !important;
              
              word-break: break-word !important;
            }
          </style>
          <div data-custom-class="body">
            <div>
              <div align="center" class="MsoNormal" style="text-align:center;line-height:115%;"><a
                  name="_2cipo4yr3w5d"></a>
                <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><strong><span
                      style="font-size: 26px;"><span data-custom-class="title">RETURN POLICY</span></span></strong>
                </div>
                <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><br></div>
                <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><span
                    style="font-size: 15px;"><span style="color: rgb(89, 89, 89);"><strong><span
                          data-custom-class="subtitle">Last updated <bdt class="question">January 01, 2024</bdt>
                          </span></strong></span></span></div>
                <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><br></div>
                <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;"><span
                    style="font-size: 15px;"><br><a name="_2cipo4yr3w5d"></a></span></div>
              </div>
              <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;"><span
                  style="font-size: 15px; line-height: 115%;  color: rgb(89, 89, 89);">
                  <bdt class="block-component"></bdt>
                </span></div>
              <div data-custom-class="heading_1"><strong><span style="font-size: 19px;">REFUNDS</span></strong></div>
              <div style="line-height: 1.5;"><br></div>
              <div data-custom-class="body_text" style="line-height: 1.5;"><span style="font-size: 15px;">All sales are
                  final and no refund will be issued.<bdt class="block-component"></bdt></span></div>
              <div style="line-height: 1.5;"><br></div>
              <div data-custom-class="heading_1" style="line-height: 1.5;"><span
                  style="font-size: 19px; color: rgb(0, 0, 0);"><strong>QUESTIONS</strong></span></div>
              <div style="line-height: 1.5;"><br></div>
              <div data-custom-class="body_text" style="line-height: 1.5;"><span
                  style="font-size: 15px; color: rgb(89, 89, 89);">If you have any questions concerning our return
                  policy, please contact us at:</span></div>
              <div data-custom-class="body_text" style="line-height: 1.1;"><br></div>
              <div data-custom-class="body_text" style="line-height: 1.5;"><span style="font-size: 15px;">
                  <bdt class="block-component"></bdt>
                </span></div>
              <div data-custom-class="body_text" style="line-height: 1.5;"><span style="font-size: 15px;">
                  <bdt class="question"><span style="color: rgb(89, 89, 89);">1-510-775-1324</span></bdt><span
                    style="color: rgb(89, 89, 89);">
                    <bdt class="statement-end-if-in-editor"></bdt>
                  </span>
                </span></div>
              <div data-custom-class="body_text" style="line-height: 1.5;"><span
                  style="font-size: 15px; color: rgb(89, 89, 89);">
                  <bdt class="question">support@crudi.tech</bdt>
                </span></div>
              <style>
                ul {
                  list-style-type: square;
                }

                ul>li>ul {
                  list-style-type: circle;
                }

                ul>li>ul>li>ul {
                  list-style-type: square;
                }

                ol li {
                  
                }
              </style>
            </div>
          </div>
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <!-- SHAPE -->
  <div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x text-dark">
      {{> shapes/curves/curve-1}}
    </div>
  </div>

  <!-- FOOTER -->
  {{> footer classList="bg-dark" isDark=true }}

  <!-- JAVASCRIPT -->
  {{> scripts}}

</body>

</html>