<!doctype html>
<html lang="en">
  <head>
    {{> head title="Cruditech"}}
  </head>
  <body>

    <!-- MODALS -->
    {{> modals}}

    <!-- NAVBAR -->
    {{> navbar classList="bg-white" container="container-fluid" button="primary"}}

    <!-- FOOTER -->
    {{> footer classList="bg-gray-200"}}

    <!-- JAVASCRIPT -->
    {{> scripts}}

  </body>
</html>
